.emergency-image{
    height: 30vh;
}
.john-head{
    font-size: 27px;
}
.john-para{
    font-size: 20px;
}
.sub-emergency-image{
    height: 5vh;
}
.chat-para{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.sub-chat-para{
    text-align: end;
}
.sub-chat-para{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
}